*.class
*.DS_Store
*.ngc

*/log.html

gcode/*
*/Thumbs.db
java/src/Thumbs.db

*/temp.png

java/Makelangelo.jar

last_official_release/Makelangelo/log.html

# Start Maven
target/
# End Maven

# Start JetBrains IDEs: IntelliJ, modified from https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
*.iml
## File-based project format:
*.ipr
*.iws
.idea/
# End JetBrains IDEs: IntelliJ, modified from https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

log.html

java/saved.png

# Start Eclipse IDE
*/classes/
*/bin/
*/.settings/
*/.project
*/.classpath
# End Eclipse IDE

# Auto generated diff files from SourceTree
*.orig
