*.class
*.DS_Store
*.ngc

*/log.html

gcode/*
*/Thumbs.db
java/src/Thumbs.db
*/.classpath

*/temp.png

java/Makelangelo.jar

last_official_release/Makelangelo/log.html
target/
.settings/

# Start JetBrains IDEs: IntelliJ, modified from https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
*.iml
## File-based project format:
*.ipr
*.iws
.idea/

java/.settings/org.eclipse.core.resources.prefs
log.html

java/saved.png
*/.project