<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <if condition='property("DEV").equals("true")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d %-5level %logger{35} - %msg %n</pattern>
                </encoder>
            </appender>

            <logger name="com.marginallyclever.convenience.log.LoggerInitializer" level="error" />
            <root>
                <appender-ref ref="STDOUT" />
            </root>
        </then>
    </if>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log.txt</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.marginallyclever" level="debug" />

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>
