<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <statusListener class="ch.qos.logback.core.status.OnFileStatusListener">
        <filename>${user.home}/.makelangelo/logback-status.log</filename>
    </statusListener>

    <if condition='property("DEV").equals("true")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d %boldCyan(%-5level) %boldGreen(%-15.-15logger{0}) - %msg %n</pattern>
                </encoder>
            </appender>

            <root>
                <appender-ref ref="STDOUT" />
            </root>
        </then>
    </if>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.makelangelo/makelangelo.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.makelangelo/makelangelo.%d{yyyy-MM-dd_HHmm}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <logger name="com.marginallyclever" level="info" />

    <if condition='property("ENV").equals("dev")'>
        <then>
            <root level="DEBUG">
                <appender-ref ref="FILE" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="FILE" />
            </root>
        </else>
    </if>

</configuration>
