name: Java CI with Maven

on:
  push:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    # this sucks and will break
    - name: install missing Kabeja jar
      run: mvn install:install-file -Dfile="local-maven-repo/kabeja-0.4.jar" -DgroupId="net.sourceforge" -DartifactId=kabeja -Dversion="0.4" -Dpackaging=jar -DgeneratePom=true

    # this sucks and will break
    - name: install missing Jogamp-fat jar
      run: mvn install:install-file -Dfile="local-maven-repo/jogamp-fat-2.4.0.jar" -DgroupId="org.jogamp.fat" -DartifactId="jogamp-fat" -Dversion="2.4.0-rc-20200307" -Dpackaging=jar -DgeneratePom=true
      
    # from https://github.com/marketplace/actions/cache
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    # from https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: prepare package for release
      run: mv ./target/Makelangelo-*-with-dependencies.jar ./target/to-upload.jar
      
    # from https://github.com/marketplace/actions/deploy-nightly
    - name: Deploy universal release
      #if: matrix.os == 'windows-latest'
      uses: WebFreak001/deploy-nightly@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided by github actions
      with:
        # find out this value by opening https://api.github.com/repos/<owner>/<repo>/releases 
        # in your browser and copy the full "upload_url" value including the {?name,label} part
        upload_url: https://uploads.github.com/repos/MarginallyClever/Makelangelo-software/releases/28176830/assets{?name,label}
        release_id: 28176830 # same as above (id can just be taken out the upload_url, it's used to find old releases)
        asset_path: ./target/to-upload.jar # path to archive to upload
        asset_name: makelangelo-nightly-$$.jar # name to upload the release as, use $$ to insert date (YYYYMMDD) and 6 letter commit hash
        asset_content_type: application/zip # required by GitHub API
        max_releases: 3 # optional, if there are more releases than this matching the asset_name, the oldest ones are going to be deleted
